<p>
  Board:
</p>
<button class="btn btn-secondary" (click)="play(0)">{{board[0]}}</button>
<button class="btn btn-secondary" (click)="play(1)">{{board[1]}}</button>
<button class="btn btn-secondary" (click)="play(2)">{{board[2]}}</button><br>
<button class="btn btn-secondary" (click)="play(3)">{{board[3]}}</button>
<button class="btn btn-secondary" (click)="play(4)">{{board[4]}}</button>
<button class="btn btn-secondary" (click)="play(5)">{{board[5]}}</button><br>
<button class="btn btn-secondary" (click)="play(6)">{{board[6]}}</button>
<button class="btn btn-secondary" (click)="play(7)">{{board[7]}}</button>
<button class="btn btn-secondary" (click)="play(8)">{{board[8]}}</button><br>
